@using MyBlog.Models;
@model PostListViewModel

@{
    ViewBag.Title = "文章列表";
}
<h2>文章列表</h2>
<ul>
    @foreach(var post in Model.Posts)
    {
        <li>@Html.ActionLink((string)post.Title,"Get",new { id = post.Id })</li>
    }
</ul>
<p>显示当前第 @Model.PageCount 页，共有 @Model.PageCount 页，记录总数：@Model.Count 。</p>